@use 'sass:color';

$background: #151735ff;
$background-transparent: color.adjust($background, $alpha: -0.2);
$bright-background: #90ccd6ff;
$bright-background-transparent: color.adjust($bright-background, $alpha: -0.05);

$orange: #f6a318;
$cyan: #90ccd6;
$pink: #e4147e;

$text: #ffffff;
$top-padding: 28px;
$side-padding: 49px;

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway.ttf');
}

@font-face {
  font-family: 'Raleway Bold';
  font-style: bold;
  font-weight: 600;
  src: url('../fonts/raleway.ttf');
}

body {
  margin: 0;
  background-color: $background;
  color: $text;
  font-family: 'Raleway';
}
div { box-sizing: border-box; }
h1, h2, h3, h4, h5, h6 { margin: 0; }

#safezones {
  opacity: 70%;

  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

#bug {
  position: absolute;
  bottom: 28px;
  right: 49px;
}

#slide {
  position: absolute;
  display: block;
  top: 155px;
  left: 48px;
  width: 1360px;
  height: 770px;
}

#videoframe {
  position: absolute;
  display: block;
  top: 155px;
  left: 1451px;
  width: 420;
  height: 570;
}

#fullscreen-video {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 1920;
  height: 1080;
}

#top {
  position: absolute;
  height: 923px;
  width: 1920px - ($side-padding * 2);
  top: $top-padding;
  left: $side-padding;
}

#content {
  width: 1920px;
  height: 1080px;
  padding: $side-padding $top-padding;
  background-image: url('../images/background.png');
}

.bottom-bar {
  position: absolute;
  left: 0;
  top: 938px;
  height: 143px;
  width: 1920px;
  padding-left: $side-padding;
  background-color: $background-transparent;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.enter {
    opacity: 0.01;
  }

  &.enter-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
  
  &.exit {
    opacity: 1;
  }

  &.exit-active {
    opacity: 0.01;
    transition: opacity .5s ease-in;
  }

  &.exit-done {
    display: none;
  }
}

#speaker-details {
  h1 {
    font-size: 33px;
    font-family: 'Raleway Bold';
    opacity: 1;
  }

  h2 {
    font-size: 33px;
    opacity: 1;
  }
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font: 'Raleway';
    font-size: 64px;
    text-align: center;
    margin-bottom: 40px;
  }

  .container {
    background-color: $bright-background-transparent;
    margin: 0 220px;
    border-radius: 10px;
    padding: 30px;
  }
  
  &.enter {
    opacity: 0.01;
  }

  &.enter-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
  
  &.exit {
    opacity: 1;
  }

  &.exit-active {
    opacity: 0.01;
    transition: opacity .5s ease-in;
  }

  &.exit-done {
    display: none;
  }
}

.sponsors {
  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 40px;

    img {
      display: block;
    }
  }

  .gold {
    margin-bottom: 80px;
  }
}

.up-next {
  display: flex;
  flex-direction: column;
  gap: 60px;

  .track {
    display: flex;
    flex-direction: row;
    
    p { margin-bottom: 0; margin-top: 0; }

    color: #ccc;
    &.current-track { color: #fff; }

    .time-and-place {
      width: 20%;
      border-right: 5px solid #fff;
      padding: 20px;
      text-align: center;

      .venue {
        font-size: 64px;
      }

      .time {
        font-size: 43px;
        font-family: 'Raleway Bold';
      }
    }

    .content {
      width: 80%;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      .title {
        font-size: 43px;
      }

      .speaker {
        font-size: 43px;
        font-family: 'Raleway Bold';
      }
    }
  }

  // Workshops have to be packed in tighter because there are more of them.
  &.workshops {
    gap: 30px;
    
    .time-and-place {
      .venue { font-size: 40px; }
    }

    .content {
      .title { font-size: 38px; }
      .speaker { font-size: 38px; }
    }
  }

  &.youth-workshops {
    gap: 30px;
    
    .time-and-place {
      width: 15%;
      .time { font-size: 60px; }
    }
  
    .content {
      width: 85%;
      .title { font-size: 38px; }
      .speaker { font-size: 38px; }
    }
  }
}